@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  font-family: "Press Start 2P", system-ui;
  --white: #ffffff;
  --black: #000000;
  --roxo: #5D04D9;
  --blue: #03318C;
}

body {
  width: 100%;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: var(--roxo);
}

.main {
  display: flex;
  gap: 70px;
  padding: 110px 70px;
}

.main__section {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  gap: 40px;
  padding: 40px;
}

.products {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  /* overflow-y: auto; */
}

.products__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid var(--black);
  border-radius: 5px;
  width: 200px;
  height: 260px;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--roxo);
}


.product__image {
  display: flex;
  box-sizing: border-box;
  border: 3px solid var(--black);
  border-radius: 5px;
  width: 175px;
  height: 175px;
}

.product__image img {
  width: 100%;
  height: 100%;
  border-radius: 2px
}

.product__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  color: var(--white);
}

.product__info p {
  font-size: 15px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
}

.product__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 25px;
}

.product__price button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--white);
}

.product__price button img {
  width: 24px;
  height: 24px;
}

.add__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px;
  width: 40%;
}

.form {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  gap: 10px;
}

.form input {
  width: 100%;
  height: 10%;
  border-radius: 30px;
  border: 3px solid var(--blue);
}

.form input::placeholder {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  text-align: center;
  color: var(--blue);
}

.button__form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button {
  width: 155px;
  height: 55px;
  border-radius: 15px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border: 3px solid var(--blue);
}

.button__submit {
  background-color: var(--blue);
  color: var(--white);
}

.button__reset {
  background-color: var(--white);
  color: var(--blue);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 110px;
  background-color: var(--roxo);
}